@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');
:root{
  --azulito:#f1f6fc;
  --azul:#3057e4;
  --azul2:#0C5ADB;
  --azulfuerte:#020873;
  --azuliconos:#0037ff;
  --tipograpoppins: 'Poppins', sans-serif;
  --tipografimontse: 'Montserrat', sans-serif;
  --tipografianunito:'Nunito', sans-serif;
}





body{
  font-size:16px;
  line-height:24px;
  color:#333;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.ancho{
  max-width: 1200px;
  margin: auto;
  align-items:center;
}
header{
  margin: 0px;
 position:fixed;
 z-index:100;
 width:100%;
text-align: center;
background-color: #ffffff;
}
.cont_arriba{
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  flex-direction: row;
}

.logo figure{
  width:150px;
  margin:5px;
}
.logo figure img{
  width:100%;
  height:100%;
}

.contenedor_cabecera{
  margin:0;
  
}

#iconomenu{
  color:#ff8800;
  padding: 15px;
  font-size:35px;
  display: none;

}
.nav{
	margin: auto;
	font-size: 20px;
	margin-top: 50px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
  background-color:var(--azul2);
  width:900px;
}
.menu-horizontal  li  a{
	display: block;
	padding: 15px 20px;
	color:white;
	text-decoration: none;

}
.menu-horizontal  li:hover{
	background-color:var(--azulfuerte);

}
.menu-vertical{
	position: absolute;
	display: none;
  z-index: 3;
	list-style: none;
	width: 200px;
	background-color: rgb(0, 14, 51);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: rgb(0, 26, 255);
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}
.contenido{
  text-align: justify;
  line-height: 30px
}
.title figure{
  width:350px;
  margin:5px;
}
.title figure img{
  width:100%;
  height:100%;
}
.title h2{
  color:#020873;
}
.title{
  border:2px  #beccff solid;
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow:rgba(27, 61, 255, 0.993);

}
footer{
  background-color:#000000;
}
footer .cont_footer{
  display:flex;
  justify-content: space-between;
}
.links{
  display: flex;
  flex-direction: column;
  line-height:30px;
  padding:50px;
}
.links i{
  color:white;
}
.links h2{
  color:#5f77ff;
}
.links h3{
  color:#d8dcf5;
  font-family: var(--tipografimontse);
  font-weight:400;
}
.links a{
  color:rgb(235, 235, 235);
  text-decoration: none;
}
.links p{
  color:white;
}

.final{
  border-top: 2px solid #ccc;
}
.final h6{
  text-align:center;
  color: white;
  font-size:15px;
  font-weight:200;
}

.ir_arriba{
  position:fixed;
  z-index: 10;
  right:20px;
  bottom:20px;
  font-size: 40px;
  filter: drop-shadow(0px 0px 5px #999);
  color:var(--naranja2);
  cursor: pointer;
}
.cont_azul{
  background-color:var(--azulfuerte) ;

  color:white;
}
.info_arriba{
  display: flex;
  justify-content: space-between;
}
.cont_contactos{
  display: flex;
  gap:10px;
  font-size:10px;
  align-items:center;
  padding:5px;
}
.cont_contactos h3{
  font-size:15px;
  font-family: var(--tipograpoppins);
  font-weight: 100;
}
.cont_contactos i{
  font-size:25px;
}
.cont_redes{
  display:flex;
  gap:10px;
}
.cont_redes i{
  font-size:25px;
  padding:5px;
}
article {
  max-width: 875px;
  margin: 0 auto;
}
#contenedoryoutube {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; /*nos da la proporcion de 16X9*/
  position: relative;
}
#contenedoryoutube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
